@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*Variables CSS*/

:root{

    --header-height: 3rem;
    --font-medium: 500;

    /* Colors */

    --first-color: #008aff;
    --white-color: #fff;
    
    --dark-color: #00417a;
    --text-color: #f7f7f7;

    /* Typography */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 6.25rem;
    --bigger-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .813rem;

    /* Margins */

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;

    /* Z index */
    --z-index: 100;
    --z-tool-tip: 10;

}
@media screen and (min-width: 768px){
    :root{
        --big-font-size: 5.5rem;
        --bigger-font-size: 4.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    /* margin: var(--header-height); */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
}

h1,h2,h3,h4,p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
.section{
    padding: 6rem 0;
}
.bd-grid{
    max-width: 1364px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index);
 
}
/* change header when scroll down */
.not_scroll{
    background-color: transparent;
    transition: 0.5s;
}
.on_scroll{
    transition: 0.5s;
    background-color: var(--first-color); 
    position: fixed;
    width: 100%;
    box-shadow: 3px 0px 9px #00000023;
    top:0;
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 45px;
}

@media screen and (max-width: 769px){
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(255,255,255,0.3);
        transition: 0.5s;
        backdrop-filter: blur(10px);
    }
/* Home */
    .home_image_holder{
        order: -1 !important;
    }
}
.nav_item{
    margin-bottom: var(--mb-4);
}
.nav_link{
    position: relative;
    color: var(--dark-color);
}
.nav_link:hover{
   color: var(--first-color);
}
.nav_logo{
    color: var(--white-color);
}
.nav_toggle{
    color: var(--white-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show Menu */

.show{
    right: 0;
}
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

@media screen and (min-width: 769px){
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        margin: auto;
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav_toggle{
        display: none;
    }
    .nav_link{
        color: var(--white-color);
    }
    .nav_link:hover{
        color: var(--white-color);
    }
    .active::after{
        background-color: var(--white-color);
    }

    /* Home  */

    .home_container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        margin: auto; 
        height: 70vh;      
    }
    .home_image_holder{
        margin: auto !important;
        width: 100% !important;
        margin-top: auto;
        width: 500px !important;
        margin-left: auto !important;
        margin-right: auto !important;

    }

    .home_description{
        text-align: left !important;
    }
    .home_description h1{
        font-size: var(--bigger-font-size)
    }
    /* Sponsors Section */

    .wave1{
        margin-top: -150px !important;
    }
    .sponsors_container{
        grid-template-columns: repeat(3,1fr) !important;
        margin: auto;
    }
    .sponsors_title, .contacts_title{
        text-align: center;
        font-size: var(--bigger-font-size);
        color: var(--first-color);
    }
    /* About Section  */
    .about_container{
        grid-template-columns: repeat(2,1fr) !important;
        margin: auto !important;
        align-items: center;
    }
    .about_description{
        text-align: left !important;
        line-height: initial !important;
    }
    
    .about_description h1{ 
        font-size: var(--bigger-font-size);
    }
    .about_img{
        width: 470px!important;
        margin: auto !important;
    }
    /* Contact Section */
    .contact_container{
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .contact_info h3{
        font-size: var(--h2-font-size);
    }
    .icon > .bx{
        font-size: 32px;
    }
    .contact_info{
        display: grid;
        grid-template-columns: 10% 90%;
        text-align: left !important;
    }
    .icon{
        margin: auto;
    }
    
}

/* Home Section */

.wrapper{
    /* background-image: url(../img/background.jpg); */
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    background: linear-gradient(180deg, #008aff, #ff137d), url(../img/background.jpg);
    background-blend-mode: screen;
    width: 100%;
}
.home_image_holder{
    order: 1;
    width: 280px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.home_description{
    text-align: center;
}
.home_description p{
    line-height: 1.6rem;
}
.button{
    padding: 16px 24px;
    border: 2px solid #fff;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    font-size: var(--normal-font-size) !important;
}
.button:hover{
    border: 2px solid #fff;
    background-color: #fffdfd00;
    color:#fff;
}
.button_container{
    margin-top: 45px;
}

/* Sponsors Section Waves */
.wave1{
   display: block;
   margin:0;
   padding: 0;
   margin-bottom: -2px;
}
.sponsors{
    background-color: white;
}
.sponsors_logo{
    margin: auto; 
}
.sponsors_container{
    grid-template-columns: repeat(2,1fr);
}
.sponsors_logo img{
    width: 250px;
    padding: 1rem 0;
}
.sponsors_title, .contacts_title{
    text-align: center;
    font-size: var(--bigger-font-size);
    color: var(--first-color);
}

/* About Section */
svg.wave2{
    margin-bottom: -10px;
}
.about{
    background-color: #424242;
}
.about_description{
    text-align: center;
    margin: var(--mb-4) 0;
    line-height: 1.6rem;   
}
.about_description p{
    margin: var(--mb-2) 0;
}
.about_img{
    margin:auto;
    width: 200px;
}
.about_title{
    font-size: var(--bigger-font-size);
}
.wave3{
    background-color: #424242;
}

/* Contact Section */

.contact_info{
    text-align: center;
    color: var(--first-color);
    font-size: 16px;
    margin:var(--mb-4) 0;
}

.contact_input{
    width: 100%;
    padding: .8rem;
    outline: none;
    border: 1.5px solid var(--first-color);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}
.contact_button{
    display: block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: .75rem 2.5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--normal-font-size);
}

/* Footer */

.footer_container{
    height: 20vh;
    
    margin: auto;
    text-align: center;
    align-items: center;
}
.footer{
    background-color: #424242;  
}